  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400&display=swap');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: rgb(41, 41, 41);
  }

  body {
    font-family: 'Open Sans', sans-serif;
  }


  .grid-container {
    background-color: #f1f1f1;
    width: 100vw;
    max-width: 1200px;
    height: 100%;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: 180px 1fr;
  }

  /* Header CSS*/

  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
  }

  /* Aside CSS*/

  aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }

  aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
  }

  aside a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
  }

  aside a:hover {
    font-weight: bold;
  }

  /* Main CSS*/

  main {
    grid-area: main;
  }

  .products-galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .items-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
    height: 400px;
  }

  .items-card img {
    width: 100%;
  }

  .items-card h2 {
    font-size: 1.5rem;
  }

  .items-card .btn-item {
    background-color: var(--primary-color);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .items-card a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
  }

  /* Footer CSS*/


  footer {
    grid-area: footer;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }