  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400&display=swap');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Paleta de colores*/

  :root {
    --primary-color: #3b234a;
    --second-color: #523961;
    --third-color: #d4c7bf;
  }

  body {
    font-family: 'Open Sans', sans-serif;
  }


  .grid-container {
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 4rem 1fr 3rem;
  }

  /* Header CSS*/

  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    gap: 1rem;
  }

  header i {
    font-size: 25px;
  }



  /* Aside CSS*/

  aside {
    height: 100%;
    background-color: var(--third-color);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }

  aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
  }

  aside a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
  }

  aside a:hover {
    color: var(--primary-color);
    font-weight: bold;
  }

  /* Main CSS*/

  main {
    grid-area: main;
  }

  .products-galery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    padding: 1rem;
  }

  .items-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
    gap: 1rem;
    border-radius: 5%;
  }

  .items-card img {
    width: 100%;
  }

  .items-card h2 {
    font-size: 1.2rem;
  }

  .items-card p {
    font-size: 1rem;
    font-weight: lighter;
  }

  .items-card .btn-item {
    background-color: var(--second-color);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .items-card a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
  }

  /* Footer CSS*/

  footer {
    grid-area: footer;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  /* Responsive with media Queries*/

  @media (max-width: 684px) {
    .products-galery {
      grid-template-columns: 1fr;

    }

  }